<h1>@Model.GetId()</h1>
<h3>@Model.GetFood()</h3>
<h3>@Model.GetAttention()</h3>
<h3>@Model.GetSleep()</h3>
<h3>@Model.GetHealth()</h3>

<a href='/peasants/new'>Add another Peasant</a>
<a href='/peasants'>View all Peasants</a>
